## 3.1 Simulating Data

In [ ]:
%config InlineBackend.figure_format = 'svg'
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 70)

In [2]:
import pandas as pd
store_sales = pd.read_csv('http://bit.ly/PMR-ch3')

### 3.1.1 Store Data: Setting the Structure

In [3]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Constants
N_STORES = 20
N_WEEKS = 104

# create a data frame of initially missing values to hold the data
columns = ('store_num', 'year', 'week', 'p1_sales', 'p2_sales',
           'p1_price', 'p2_price', 'p1_promo', 'p2_promo', 'country')
n_rows = N_STORES * N_WEEKS
store_sales = pd.DataFrame(np.empty(shape=(n_rows, 10)),
                           columns=columns)

In [4]:
store_sales.shape

(2080, 10)

In [5]:
store_sales.head()

,store_num,year,week,p1_sales,p2_sales,p1_price,p2_price,p1_promo,p2_promo,country
0,1.217616e-311,1.217661e-311,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
3,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,0.000000e+00,1.155212e-228,4.940656e-323,0.0,4.940656e-323,9.976594e-306,1.217616e-311,1.217661e-311,4.940656e-323,4.940656e-323

In [6]:
store_numbers = range(101, 101 + N_STORES)
list(store_numbers)

[101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120]

In [7]:
store_country = dict(zip(store_numbers,
                         ['USA', 'USA', 'USA', 'DEU', 'DEU', 'DEU',
                          'DEU', 'DEU', 'GBR', 'GBR', 'GBR', 'BRA',
                          'BRA', 'JPN', 'JPN', 'JPN', 'JPN', 'AUS',
                          'CHN', 'CHN']))
store_country

{101: 'USA',
 102: 'USA',
 103: 'USA',
 104: 'DEU',
 105: 'DEU',
 106: 'DEU',
 107: 'DEU',
 108: 'DEU',
 109: 'GBR',
 110: 'GBR',
 111: 'GBR',
 112: 'BRA',
 113: 'BRA',
 114: 'JPN',
 115: 'JPN',
 116: 'JPN',
 117: 'JPN',
 118: 'AUS',
 119: 'CHN',
 120: 'CHN'}

In [8]:
i = 0
for store_num in store_numbers:
  for year in [1, 2]:
    for week in range(1, 53):
      store_sales.loc[i, 'store_num'] = store_num
      store_sales.loc[i, 'year'] = year
      store_sales.loc[i, 'week'] = week
      store_sales.loc[i, 'country'] = store_country[store_num]
      i += 1

In [9]:
store_sales.head()

,store_num,year,week,p1_sales,p2_sales,p1_price,p2_price,p1_promo,p2_promo,country
0,101.0,1.0,1.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,USA
1,101.0,1.0,2.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,USA
2,101.0,1.0,3.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,USA
3,101.0,1.0,4.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,USA
4,101.0,1.0,5.0,0.0,4.940656e-323,9.976594e-306,1.217616e-311,1.217661e-311,4.940656e-323,USA

In [10]:
store_sales.dtypes

store_num    float64
year         float64
week         float64
p1_sales     float64
p2_sales     float64
p1_price     float64
p2_price     float64
p1_promo     float64
p2_promo     float64
country       object
dtype: object

In [ ]:
type(store_sales.country[0])

In [ ]:
store_sales.country = store_sales.country.astype(
    pd.CategoricalDtype())
store_sales.store_num = store_sales.store_num.astype(
    pd.CategoricalDtype())
print(store_sales.store_num.head())
print(store_sales.country.head())

In [ ]:
store_sales.dtypes

In [ ]:
# Not shown
store_sales.head(60) # 60 rows can be displayed without truncation;
store_sales.tail(60) # make sure end looks OK too;
store_sales.sample(60) # inspecting a random sample is also helpful;

### 3.1.2 Store Data: Simulating Data Points

In [ ]:
np.random.seed(37204)

In [ ]:
np.random.binomial(n=1, p=0.1, size=n_rows).shape

In [ ]:
store_sales.shape

In [ ]:
# 10% promoted
store_sales.p1_promo = np.random.binomial(n=1, p=0.1, size=n_rows)
# 15% promoted
store_sales.p2_promo = np.random.binomial(n=1, p=0.15, size=n_rows)
store_sales.head(10) # how does it look so far?

In [ ]:
store_sales.p1_promo.value_counts()

In [ ]:
store_sales.p1_price = np.random.choice([2.19, 2.29, 2.49, 2.79, 
                                         2.99],
                                     size=n_rows)
store_sales.p2_price = np.random.choice([2.29, 2.49, 2.59, 2.99,
                                         3.19],
                                     size=n_rows)
store_sales.sample(5) # now how does it look?

In [ ]:
# sales data, using poisson (counts) distribution
# np.random.poisson()
# first, the default sales in the absence of promotion
sales_p1 = np.random.poisson(lam=120, size=n_rows)
sales_p2 = np.random.poisson(lam=100, size=n_rows)

In [ ]:
# scale sales according to the ratio of log(price)
log_p1_price = np.log(store_sales.p1_price)
log_p2_price = np.log(store_sales.p2_price)

sales_p1 = sales_p1 * log_p2_price/log_p1_price
sales_p2 = sales_p2 * log_p1_price/log_p2_price

In [ ]:
# final sales get a 30% or 40% lift when promoted
store_sales.p1_sales = np.floor(sales_p1 *
                                (1 + store_sales.p1_promo * 0.3))
store_sales.p2_sales = np.floor(sales_p2 *
                                (1 + store_sales.p2_promo * 0.4))
store_sales.sample(10)

## 3.2 Functions to Summarize a Variable

### 3.2.1 Language brief: groupby()

In [ ]:
store_sales.groupby('store_num')

In [ ]:
store_sales.groupby('store_num').p1_sales.mean()

In [ ]:
store_sales.groupby(['store_num', 'year']).p1_sales.mean()

In [ ]:
store_sales.groupby(['store_num', 'year']).p1_sales.mean().unstack()

In [ ]:
p1_sales_by_country = store_sales.groupby(['country']).p1_sales.sum()
p1_sales_by_country

### 3.2.1 Discrete Variables

In [ ]:
store_sales.p1_price.value_counts()

In [ ]:
p1_table_0 = store_sales.p1_price.value_counts()
p1_table_0

In [ ]:
type(p1_table_0)

In [ ]:
p1_table_0.plot.bar()

In [ ]:
pd.crosstab(store_sales.p1_promo, store_sales.p1_price)

In [ ]:
store_sales.groupby('p1_promo').p1_price.value_counts().unstack()

In [ ]:
store_sales.groupby(['p1_promo', 'country']).p1_price.mean().unstack()

In [ ]:
p1_table_1 = store_sales.groupby('p1_promo').p1_price.value_counts()
p1_table_1 = p1_table_1.unstack()
p1_table_1.div(p1_table_0)

### 3.2.2 Continuous Variables

In [ ]:
store_sales.p2_sales.min()

In [ ]:
store_sales.p1_sales.max()

In [ ]:
store_sales.p1_promo.mean()

In [ ]:
store_sales.p2_sales.median()

In [ ]:
store_sales.p1_sales.var()

In [ ]:
store_sales.p1_sales.std()

In [ ]:
store_sales.p1_sales.mad()

In [ ]:
store_sales.p1_sales.quantile(q=[0.25, 0.5, 0.75])

In [ ]:
store_sales.p1_sales.quantile(q=[0.05, 0.95])

In [ ]:
store_sales.p1_sales.quantile(q=np.arange(0, 1.1, 0.1))

In [ ]:
def iqr(x):
  '''Return the interquartile range of the input numpy array'''
  return x.quantile(0.75) - x.quantile(0.25)
iqr(store_sales.p1_sales)

In [ ]:
pd.DataFrame([[store_sales.p1_sales.median(),
               store_sales.p2_sales.median()],
              [iqr(store_sales.p1_sales), iqr(store_sales.p2_sales)]],
             index=['Median sales', 'IQR'],
             columns=['p1_sales', 'p2_sales'])

## 3.3 Summarizing Data Frames

In [ ]:
store_sales.describe()

In [ ]:
store_sales.p1_price.describe()

### 3.3.4 apply()

In [ ]:
store_sales.iloc[:, 3:9].mean()

In [ ]:
store_sales.iloc[:, 3:9].mean(axis=1).head()

In [ ]:
store_sales.iloc[:, 3:9].iqr()

In [ ]:
store_sales.iloc[:, 3:9].apply(iqr)

In [ ]:
store_sales.iloc[:, 3:9].apply(iqr, axis=1).head()

In [ ]:
store_sales.iloc[:, 3:9].apply(lambda x: x.mean() - x.median())

In [ ]:
store_sales.p1_sales.apply(lambda x: 'high' if x > 130 else 'low')[:5]

In [ ]:
pd.DataFrame([store_sales[['p1_sales', 'p2_sales']].median(),
              store_sales[['p1_sales', 'p2_sales']].apply(iqr)],
             index=['Median sales', 'IQR'])

## 3.4 Single Variable Visualization

### 3.4.1 Histograms

In [ ]:
store_sales.p1_sales.hist()

In [ ]:
import matplotlib.pyplot as plt
store_sales.p1_sales.hist()
plt.title('Product 1 weekly sales frequencies, All stores')
plt.xlabel('Product 1 sales (units)')
plt.ylabel('Count')

In [ ]:
plt.rcParams.update({'font.size': 12})

In [ ]:
store_sales.p1_sales.hist(bins=30,
                          edgecolor='k',
                          facecolor='lightblue')
plt.title('Product 1 weekly sales frequencies, All stores')
plt.xlabel('Product 1 sales (units)')
plt.ylabel('Count')
plt.grid(False)
plt.box(False)

In [ ]:
store_sales.p1_sales.hist(bins=30,
                          edgecolor='k',
                          facecolor='lightblue',
                          density=True)
plt.title('Product 1 weekly sales frequencies, All stores')
plt.xlabel('Product 1 sales (units)')
plt.ylabel('Relative frequency')
plt.xticks(range(60, 300, 20))
plt.grid(False)
plt.box(False)

In [ ]:
store_sales.p1_sales.hist(bins=30,
                          edgecolor='k',
                          facecolor='lightblue',
                          density=True)
store_sales.p1_sales.plot.density(color='red')
plt.title('Product 1 weekly sales frequencies, All stores')
plt.xlabel('Product 1 sales (units)')
plt.ylabel('Relative frequency')
plt.xticks(range(60, 300, 20))
plt.xlim((60, 290))
plt.box(False)

### Box plots

In [ ]:
p = store_sales.p2_sales.plot.box(vert=False, sym='k.')
plt.title('Weekly sales of P2, All stores')
plt.xlabel('Weekly sales')
p.set_facecolor('w')

In [ ]:
store_sales.boxplot(column='p2_sales', by='store_num', vert=False,
                    sym='k.')
plt.suptitle('')
plt.title('Weekly sales of p2 by store')
plt.xlabel('Weekly unit sales')
plt.ylabel('Store')
plt.box(False)

In [ ]:
store_sales.boxplot(column='p2_sales', by='p2_promo', vert=False,
                    sym='k.')
plt.suptitle('')
plt.title('Weekly sales of p2 with and without promotion')
plt.xlabel('Weekly unit sales')
plt.ylabel('P2 promo in store?')
plt.yticks([1, 2], ['No', 'Yes'])
plt.box(False)

### 3.4.3 QQ Plot to check normality

In [ ]:
from scipy import stats
plt.figure(figsize=(7,7))
stats.probplot(store_sales.p1_sales, dist='norm', plot=plt)

In [ ]:
plt.figure(figsize=(7,7))
stats.probplot(np.log(store_sales.p1_sales), dist='norm', plot=plt)

### 3.4.4 Cumulative distribution

In [ ]:
from statsmodels.distributions.empirical_distribution import ECDF
e = ECDF(store_sales.p1_sales)
plt.plot(e.x, e.y)
plt.title('Cumulative distribution of p1 weekly sales')
plt.ylabel('Cumulative proportion')
plt.plot([60, 270], [0.9, 0.9], 'k--', alpha=0.5)
plt.plot([store_sales.p1_sales.quantile(.9),
          store_sales.p1_sales.quantile(.9)],
         [0, 1], 'k--', alpha=0.5)
plt.box(False)

In [ ]:
ecdf_x = store_sales.p1_sales.sort_values()
ecdf_y = np.arange(0, 1, 1/len(store_sales.p1_sales))
plt.subplot(2,1,2)
plt.plot(ecdf_x, ecdf_y)
plt.xlabel('P1 weekly sales, all stores')
plt.ylabel('Cumulative proportion')
plt.plot([60, 270], [0.9, 0.9], 'k--', alpha=0.5)
plt.plot([store_sales.p1_sales.quantile(.9),
          store_sales.p1_sales.quantile(.9)],
         [0, 1], 'k--', alpha=0.5)
plt.box(False)

### 3.4.6 Maps

In [ ]:
!apt-get -qq install python-cartopy python3-cartopy
!pip uninstall -y shapely
!pip install shapely --no-binary shapely

In [1]:
from cartopy.io import shapereader
from cartopy import crs

plt.figure(figsize=(16,6))
ax = plt.axes(projection=crs.PlateCarree())

shpfile = shapereader.natural_earth(resolution='110m',
                                  category='cultural',
                                  name='admin_0_countries')
reader = shapereader.Reader(shpfile)
countries = reader.records()
max_sales = p1_sales_by_country.max()
for country in countries:
  country_name = country.attributes['ADM0_A3']
  if country_name in p1_sales_by_country:
    ax.add_geometries(country.geometry, crs.PlateCarree(),
      facecolor=plt.cm.Greens(p1_sales_by_country[country_name]
                                 /max_sales),
      edgecolor='k')
  else:
    ax.add_geometries(country.geometry, crs.PlateCarree(),
      facecolor='w',
      edgecolor='k')

ModuleNotFoundError: No module named 'cartopy'